@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

:root {
    --fiap-red: #ed145b;
    --fiap-gray: #151819;
}

.bg-fiap-red {
    background-color: var(--fiap-red);
}

.text-fiap-red {
    color: var(--fiap-red);
}

.text-fiap-gray {
    color: var(--fiap-gray);
}

.bg-fiap-gray {
    background-color: var(--fiap-gray);
}